@charset "ISO-8859-1";

footer {
display: flex;
    justify-content: space-around;
    background-color: #b69cd9;
    align-items: center;
    color: white;
}
body {
    margin: 0;
}

a {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1em;
}

img
{
  width: 5vw;
  height: 5vw;
  padding-top: 0,5em;
}

p {
	font-weight: 5 vw;
	
}