footer {
  background-color: #b69cd9;
  font: 'Roboto', sans-serif;
  color: white;
  padding: 1em;
  width: 100%;
/* DL, margin-left: -1em; */
}

.link:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.link:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.link:hover {
    background-color: transparent;
    text-decoration: underline;
}

.link:active {
    color: #EFDECD;
    background-color: transparent;
    text-decoration: underline;
}

.footer {
 /* DL, margin-left: 11%; */
 /* DL, margin-right: -15%; */
  max-width: 100%;
}



